<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/oldstyle.css' %}">
    <title>Profil Arik</title>
</head>
<body>

    <div class="container">
        
        

        {% include "home/base.html" %}

        <div class="header">
            <h1 class="nama">Athallah Rikza Ihsani</h1>
            <h2 class="title">Undergraduate Student at University of Indonesia</h2>
        </div>

        <div class="image"></div>

        <div class="content">
            <h3 class="subjudul">Profile Lengkap:</h3>
            <table class="profile">
            

                <tr>
                    <td>
                        Nama
                    </td>
                    <td>
                        :
                    </td>
                    <td class="data">
                        Athallah Rikza Ihsani
                    </td>
                </tr>

                <tr>
                    <td>
                        NPM
                    </td>
                    <td>
                        :
                    </td>
                    <td class="data">
                        1906353523
                    </td>
                </tr>

                <tr>
                    <td>
                        Angkatan
                    </td>
                    <td>
                        :
                    </td>
                    <td class="data">
                        2019
                    </td>
                </tr>

                <tr>
                    <td>
                        Hobi
                    </td>
                    <td>
                        :
                    </td>
                    <td class="data">
                        Membaca, main game, dan mendengarkan musik
                    </td>
                </tr>

                <tr>
                    <td>
                        Tempat Kuliah
                    </td>
                    <td>
                        :
                    </td>
                    <td class="data">
                        Universitas Indonesia
                    </td>
                </tr>

                <tr>
                    <td>Riwayat Pendidikan

                    </td>
                    <td>
                        :
                    </td>
                    
                    <td class="data">
                        <ul>
                            <li>Universitas Indonesia (2019 - Sekarang)</li>
                            <li>SMA Negeri 1 Kota Bogor (2016 - 2019)</li>
                            <li>SMP Negeri 4 Kota Bogor (2013 - 2016)</li>
                            <li>SD IT Dinamika (2007 - 2013)</li>
                        </ul>
                    </td>
                </tr>


            </table>
        </div>

        <div class="deskripsi">
            <h3 class="subjudul">Deskripsi Diri:</h3>
            <p class="isi">Nama saya adalah Athallah Rikza Ihsani, biasa dipanggil Arik.
                Saya merupakan mahasiswa Fakultas Ilmu Komputer Universitas Indonesia Jurusan 
                Sistem Informasi angkatan 2019. Saya memiliki ketertarikan di bidang Matematika dan Web 
                Development. Selama berkuliah di Fasilkom UI, saya pernah membuat berbagai macam proyek
                pemrogaman seperti membuat web static, membuat program sederhana, dan menganalisis data dari user. Saya memiliki cita-cita
                untuk bekerja pada sebuah startup multinasional sebagai project manager.

            </p>
        </div>

        <div class="MyContact">
          <h3 class="subjudul">Kontak:</h3>
          <table class="contact">

            <tr>
                <td>
                    ID Line
                </td>
                <td>
                    :
                </td>
                <td>
                    athallahrikza
                </td>
            </tr>

            <tr>
                <td>
                    Instagram
                </td>
                <td>
                    :
                </td>
                <td>
                    ArikIhsani
                </td>
            </tr>

            <tr>
                <td>
                    Whatsapp
                </td>
                <td>
                    :
                </td>
                <td>
                    087779080946
                </td>
            </tr>

          </table>
        </div>

        <div class="footer">
            <p class="copy">Copyright 2020. Athallah Rikza Ihsani. All rights reserved.</p>
        </div>

    </div>
    
</body>
</html>